
body{
    background-color:rgb(136, 147, 146);
    align-items: center;
    justify-content: center
}


table{
margin:auto;
border-spacing: 6px;
}
.row3 {
width: 75px;
height: 40px;
font-size: 25px;


 }
 .row123{
    width: 100px;
    height: 40px;
    font-size: 25px;
    background-color:beige;
 }
 .row456{
    width: 100px;
    height: 40px;
    font-size: 25px;
    background-color:bisque;
 }
 .row789{
    width: 100px;
    height: 40px;
    font-size: 25px;
    background-color:darkkhaki;
 }
 .row0{
    width: 300px;
    height: 40px;
    font-size: 25px;
 }
 
 .row1{
    height: 25px;
 }
 .rowreset{
    width: 150px;
    height: 40px;
    font-size: 25px;

 }
 .row3:nth-child(odd),.rowreset:nth-child(odd){ 
    background-color: rgb(164, 227, 236);

 }
 .row3:nth-child(even),.rowreset:nth-child(even){
    background-color:rgb(230, 169, 226);
 }